<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('../../../assets/Img/webDesign.png');"
  >
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Construyamos algo juntos</h3>
            <app-contact-template></app-contact-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
