<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('../../../assets/Img/jpgs/webDesign.jpg');"
  >
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Construyamos algo juntos</h3>
            <app-contact-template></app-contact-template>
            <div class="row">
              <div class="col-12">
                <a
                  href="https://web.whatsapp.com/send?phone=5218123124144&text=¡Buen día! Me interesa información sobre los servicios de Sening Studio, me puede contactar en un horario de "
                >
                  <h5 class="title">
                    ¡Contáctanos por Whatsapp!
                    <img
                      style="max-width: 8%; max-height: auto;"
                      src="../../../assets/Img/Logos/whatsapp.png"
                    />
                  </h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
