<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('../../../assets/Img/team.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <img src="assets/img/angular2-logo.png" alt="SENINGLOGO" />
          </div>
          <h1 class="motto text-center">Sening Studio</h1>

          <h2 class="presentation-subtitle text-center">
            Expertos en convertir ideas en realidad.
          </h2>
        </div>
      </div>
    </div>

    <h6 class=" category-absolute ml-auto mr-auto">
      Desarrollo y diseño Web - Aplicaciones Moviles - Software a medida -
      Marketing Digital
    </h6>
  </div>

  <div class="main">
    <!--     <h1 class="animated fadeIn fast">Sobre Sening</h1>
    <hr />
    <p class="animated fadeIn">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias atque,
      nihil facilis illo sunt dolor laboriosam vitae harum, optio explicabo
      fugiat, neque quibusdam fuga. Debitis laudantium ab praesentium eaque
      quisquam.
    </p>
  </div> -->
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="title">
              En Sening Studio nos comprometemos en crear productos digitales
              que inspiren.
            </h2>
            <h5 class="description">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Laboriosam similique consequatur harum dicta aspernatur culpa
              perferendis iure quo necessitatibus? Sit, voluptatum vitae ea
              ratione quam illum perferendis dicta dignissimos ab.
            </h5>
            <br />
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-4">
            <div class="info card">
              <div class="icon icon-info">
                <i class="nc-icon nc-diamond"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Como se ve</h4>
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info card">
              <div class="icon icon-danger">
                <i class="nc-icon nc-favourite-28"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Como se siente</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info card">
              <div class="icon icon-success">
                <i class="nc-icon nc-spaceship"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Como trabaja</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-dark text-center">
      <div class="container">
        <h2 class="title">NOSOTROS</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"
                  ><img src="../../../assets/Img/teamFaces/fine.jfif" alt="..."
                /></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Fine Matiaz</h4>
                    <h6 class="card-category">Designer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Exercitationem quia ratione aliquid! Sed deserunt earum facere
                  consequuntur cumque, nostrum quas?
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"
                  ><img src="../../../assets/Img/teamFaces/dimy.jfif" alt="..."
                /></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Dimitry Granados</h4>
                    <h6 class="card-category">Developer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Exercitationem quia ratione aliquid! Sed deserunt earum facere
                  consequuntur cumque, nostrum quas?
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"
                  ><img
                    src="../../../assets/Img/teamFaces/christian.jfif"
                    alt="..."
                /></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Cristian Viera</h4>
                    <h6 class="card-category">Developer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Exercitationem quia ratione aliquid! Sed deserunt earum facere
                  consequuntur cumque, nostrum quas?
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-contactanos></app-contactanos>
  </div>
</div>
