<app-carousel></app-carousel>

<div class="main">
  <div class="section ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mr-auto ml-auto">
          <h2 class="title">
            Especialistas en diseño y desarrollo de aplicaciones y paginas web.
          </h2>
        </div>
        <div class="col-md-6 mr-auto ml-auto">
          <h5 class="description">
            Creamos soluciones innovadoras para todo tipo de industrias a través
            de
            <h6>software personalizado.</h6>
            <br /><br />
            Nuestros servicios aseguran que la aplicación que diseñemos y
            desarrollemos marque altos estándares de
            <h6>eficiencia, compromiso y elegancia.</h6>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="section text-center">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-globe"></i>
            </div>
            <div class="description">
              <h4 class="info-title">
                Desarrollo Web a Medida
              </h4>
              <p class="description">
                Tenemos amplia experiencia creando paginas web para todo tipo de
                empresas.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-cart-simple"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Tienda en Linea</h4>
              <p>
                Venda sus productos en internet con multiples formas de pago y
                haga su negocio disponible las 24 horas.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-mobile"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Aplicaciones móviles</h4>
              <p>
                Nos enfocamos en la experiencia de usuario. Desarrollamos
                aplicaciones nativas para IOS y Android.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-briefcase-24"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Software Empresarial</h4>
              <p>
                Soluciones de administradores ERP para empresas y tecnologias
                E-Learning.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-laptop"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Diseño Web</h4>
              <p class="description">
                Codificamos tu idea dando soluciones eficaces personalizadas.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-vector"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Administrador de Contenidos</h4>
              <p>
                Tendra el control 100% de su pagina web sin depender de
                terceros.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Posicionamiento web SEO</h4>
              <p>
                Posicionamos su sitio web en los motores de busqueda de Google
                con resultados organicos.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Marketing Digital</h4>
              <p>
                Nuestro equipo formulara la estrategia digital de tu empresa
                logrando optimizar los presupuestos publicitarios.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <button class="btn btn-danger btn-round btn-lg" routerLink="/services">
        VER SERVICIOS
        <i class="nc-icon lg nc-spaceship"></i>
      </button>
    </div>
  </div>

  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 homeImg ">
          <img
            src="../../../assets/Img/ecommerce.jpg"
            class="img-rounded img-responsive img-shadow"
            alt="App 1"
          />
        </div>
        <div class="col-lg-6 col-md-12">
          <h2 class="title">
            Genere vinculos con sus clientes con una buena impresión.
          </h2>
          <br />
          <h5 class="description">
            Sabemos lo importante que es que tu pagina web refleje una
            <b>
              imagen profesional, amigable con el usuario y contenido de calidad
            </b>
            que brinde credibilidad a su empresa; Siempre enfocamos el diseño
            web para impactar a los usuarios y conectarlos con sus
            <b>productos y servicios.</b>
          </h5>
          <br />
          <a class="btn btn-outline-danger btn-round" routerLink="/services">
            VER PAQUETES Y COSTOS</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h2 class="title">
            Equipo de ingenieros experimentados en crear soluciones
            personalizadas.
          </h2>
          <br />
          <h5 class="description">
            Sening Studio trabaja con un equipo <b>multidiciplinario</b> con
            experiencia desarrollando experiencias enfocadas en estrategia,
            experiencia de usuario, diseño e ingeniería Full-Stack para obtener
            brillantes ideas digitales con proyección al futuro.
          </h5>
          <br />

          <a class="btn btn-outline-danger btn-round" routerLink="/about">
            ACERCA DE NOSOTROS</a
          >
        </div>

        <div class="col-lg-6 col-md-12 homeImg">
          <img
            src="../../../assets/Img/home3.jpg"
            class="img-responsive img-shadow img-rounded"
            alt="App 1"
          />
        </div>
      </div>
    </div>
  </div>

  <app-contactanos></app-contactanos>
</div>
