<app-carousel></app-carousel>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">
            Especialistas en desarrollo web y aplicaciones moviles
          </h2>
          <h5 class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod
            nesciunt aspernatur voluptates dignissimos eius ab esse, aliquid
            explicabo natus doloribus velit totam neque maiores, molestias
            officiis, quae exercitationem maxime!
          </h5>
          <br />
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-globe"></i>
            </div>
            <div class="description">
              <h4 class="info-title">
                Desarrollo Web a medida
              </h4>
              <p class="description">
                Spend your time generating new ideas. You don't have to think of
                implementing.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-cart-simple"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Tienda en linea</h4>
              <p>
                Larger, yet dramatically thinner. More powerful, but remarkably
                power efficient.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-mobile"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Aplicaciones móviles</h4>
              <p>
                Choose from a veriety of many colors resembling sugar paper
                pastels.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-briefcase-24"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Software empresarial</h4>
              <p>
                Find unique and handmade delightful designs related items
                directly from our sellers.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-laptop"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Diseño web</h4>
              <p class="description">
                Spend your time generating new ideas. You don't have to think of
                implementing.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-vector"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Administrador de contenidos</h4>
              <p>
                Larger, yet dramatically thinner. More powerful, but remarkably
                power efficient.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Posicionamiento web SEO</h4>
              <p>
                Choose from a veriety of many colors resembling sugar paper
                pastels.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Marketing y comunicación digital</h4>
              <p>
                Find unique and handmade delightful designs related items
                directly from our sellers.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <button class="btn btn-danger btn-round btn-lg" routerLink="/services">
        VER SERVICIOS
        <i class="nc-icon lg nc-spaceship"></i>
      </button>
    </div>
  </div>
  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 homeImg">
          <img
            src="../../../assets/Img/ecommerce.jpg"
            class="img-rounded img-responsive img-shadow"
            alt="App 1"
          />
        </div>
        <div class="col-lg-6 col-md-12">
          <h2 class="title">
            Conecta con tus clientes con una buena impresión.
          </h2>
          <br />
          <p class="description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste
            voluptates quasi nemo laudantium eaque! Cum consectetur modi
            voluptates sequi odio corporis obcaecati, eos repellat asperiores,
            deleniti quibusdam voluptatem ipsam sed!
          </p>
          <br />
          <a class="btn btn-outline-danger btn-round" routerLink="/services">
            VER PAQUETES Y COSTOS</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h2 class="title">
            Somos un equipo experimentado en llevar proyectos al siguiente
            nivel.
          </h2>
          <br />
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
            veritatis error magni quos ullam numquam rem laudantium, omnis
            asperiores impedit vel quia dolorem? Nulla cumque delectus error,
            porro ad deserunt.
          </p>
          <br />

          <a
            class="btn btn-outline-danger btn-round"
            target="_blank"
            routerLink="/about"
          >
            ACERCA DE NOSOTROS</a
          >
        </div>

        <div class="col-lg-6 col-md-12 homeImg">
          <img
            src="../../../assets/Img/home3.jpg"
            class="img-responsive img-shadow img-rounded"
            alt="App 1"
          />
        </div>
      </div>
    </div>
  </div>

  <app-contactanos></app-contactanos>
</div>
