<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/Img/dev.jpg" alt="Angular Carousel 1" />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/Img/devSoft.jpg" alt="Angular Carousel 2" />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/Img/team.jpg" alt="Angular Carousel 3" />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../../assets/Img/ecommerce.jpg"
        alt="Angular Carousel 4"
      />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../../assets/Img/webDesign.jpg"
        alt="Angular Carousel 5"
      />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
</ngb-carousel> -->
<div class="wrapper">
  <ngb-carousel class="page-header section-dark">
    <div class="filter"></div>
    <!--   <ng-template ngbSlide>
    <img
      src="../../../../assets/Img/carouselHome/startup2.jpg"
      alt="Random first slide"
    />
    <div class="carousel-caption">
      <h2>Desarrollo web</h2>
      <p>Somewhere</p>
    </div>
  </ng-template> -->
    <ng-template ngbSlide>
      <img
        src="../../../../assets/Img/carouselHome/programming2.jpg"
        class="img-responsive"
        alt="Random first slide"
      />
      <div class="carousel-caption text-center">
        <h2 class="animated fadeIn fast">
          <b>Desarrollo Web y Aplicaciones Móviles</b>
        </h2>

        <h5 class="animated fadeIn slow h5Large">
          Enfocados 100% en la experiencia de usuario y en resolver sus
          necesidades.
        </h5>
      </div>
    </ng-template>
    <ng-template ngbSlide class="animated fadeIn fast">
      <img
        src="../../../../assets/Img/carouselHome/Online-shopping1.jpg"
        alt="Random first slide"
      />
      <div class="carousel-caption text-center">
        <h2 class="animated fadeIn fast"><b>Tienda en Línea - Ecommerce</b></h2>

        <h5 class="animated fadeIn slow">
          Haga crecer su negocio y sus ventas. <br />¡Venda sus productos en
          línea!
        </h5>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <img
        src="../../../../assets/Img/carouselHome/programming11.jpg"
        alt="Random third slide"
      />
      <div class="carousel-caption text-center">
        <h2 class="animated fadeIn fast"><b>Soluciones Personalizadas</b></h2>

        <h5 class="animated fadeIn slow">
          Desarrollo y diseño a medida.<br />
          Creamos Soluciones exclusivamente para su empresa.
        </h5>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img
        src="../../../../assets/Img/carouselHome/brand-strategy.jpg"
        alt="Random second slide"
      />
      <div class="carousel-caption text-center">
        <h2 class="animated fadeIn fast"><b>Marketing Digital</b></h2>

        <h5 class="animated fadeIn slow">
          Su negocio abierto 24/7. <br />
          ¡Hacemos que la gente encuentre su negocio!
        </h5>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
