<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/Img/dev.jpg" alt="Angular Carousel 1" />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/Img/devSoft.jpg" alt="Angular Carousel 2" />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../../assets/Img/team.jpg" alt="Angular Carousel 3" />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../../assets/Img/ecommerce.jpg"
        alt="Angular Carousel 4"
      />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../../assets/Img/webDesign.jpg"
        alt="Angular Carousel 5"
      />
    </div>
    <div class="carousel-caption">
      <h3>Title Goes Here</h3>
      <p>Consectetur tortor volutpat pretium.</p>
    </div>
  </ng-template>
</ngb-carousel> -->

<ngb-carousel class="page-header section-dark">
  <div class="filter"></div>
  <!--   <ng-template ngbSlide>
    <img
      src="../../../../assets/Img/carouselHome/startup2.jpg"
      alt="Random first slide"
    />
    <div class="carousel-caption">
      <h1>Desarrollo web</h1>
      <p>Somewhere</p>
    </div>
  </ng-template> -->
  <ng-template ngbSlide>
    <img
      src="../../../../assets/Img/carouselHome/programming2.jpg"
      alt="Random first slide"
    />
    <div class="carousel-caption text-left">
      <h1 class="animated fadeIn fast">
        <b>Desarrollo Web y Aplicaciones Móviles</b>
      </h1>

      <h4 class="animated fadeIn slow">
        Enfocados 100% en la experiencia de usuario y en resolver sus
        necesidades.
      </h4>
    </div>
  </ng-template>
  <ng-template ngbSlide class="animated fadeIn fast">
    <img
      src="../../../../assets/Img/carouselHome/Online-shopping.jpg"
      alt="Random first slide"
    />
    <div class="carousel-caption text-left">
      <h1 class="animated fadeIn fast"><b>Tienda en Linea</b></h1>

      <h4 class="animated fadeIn slow">
        Haga crecer su negocio y sus ventas. <br />¡Venda sus productos en
        linea!
      </h4>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <img
      src="../../../../assets/Img/carouselHome/programming.jpg"
      alt="Random third slide"
    />
    <div class="carousel-caption text-left">
      <h1 class="animated fadeIn fast"><b>Soluciones Personalizadas</b></h1>

      <h4 class="animated fadeIn slow">
        Desarrollo y diseño a medida.<br />
        Soluciones hechas exclusivamente para su empresa.
      </h4>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="../../../../assets/Img/carouselHome/brand-strategy.jpg"
      alt="Random second slide"
    />
    <div class="carousel-caption text-left">
      <h1 class="animated fadeIn fast"><b>Marketing Digital</b></h1>

      <h4 class="animated fadeIn slow">
        Su negocio abierto 24/7. <br />
        ¡Hacemos que la gente te encuentre!
      </h4>
    </div>
  </ng-template>
</ngb-carousel>
