<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('../../..//assets/Img/dev.png');"
  >
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <!--   <div class="avatar" style="padding: 0px;">
          <img
            src="../../../assets/Img/Logos/seninStudio_logo_1.png"
            alt="Circle Image"
            class="img-thumbnail img-no-padding img-responsive"
            width="90%"
            height="auto"
          />
        </div> -->
        <div class="name">
          <h1 class="title">Servicios<br /></h1>
          <h3 class="description">Convertimos sus ideas en realidad.</h3>
        </div>
      </div>
      <!--       <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas earum
            ea repudiandae, sit fugiat corporis nostrum odit autem vero laborum
            aliquam, voluptatibus labore ullam nesciunt, recusandae expedita
            blanditiis debitis quis.
          </p>
          <br />
        </div>
      </div> -->
      <br />
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/webDev.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title text-center"><b>Desarrollo Web</b></h3>
              <p class="card-text text-justify">
                Creamos páginas que comuniquen eficientemente los beneficios de
                sus productos y servicios. Nuestro equipo de ingenieros cuentan
                con una amplia experiencia desarrollando diferentes tipos de
                proyectos en múltiples tecnologías asegurando el funcionamiento
                y compatibilidad.
              </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Convertimos tu diseño en código funcional.
                </li>
                <li class="list-group-item">
                  Diseño responsivo que permite adaptarse a cualquier
                  dispositivo móvil.
                </li>
                <li class="list-group-item">
                  Arquitectura y configuración de bases de datos.
                </li>
                <li class="list-group-item">
                  Páginas 100% codificadas a mano.
                </li>
                <li class="list-group-item">
                  Testing y validación; aseguramos que tu página funcione a la
                  perfección.
                </li>
                <li class="list-group-item">
                  Tecnologías Actuales como HTML5, CSS3,Javascript, PHP,
                  Angular,React.js .Net entre otras.
                </li>
              </ul>
              <div class="card-footer">
                <small class="text-muted"
                  ><button
                    class="btn btn-block btn-primary"
                    placement="bottom"
                    ngbTooltip="Solicitar Cotización"
                    [routerLink]="['/contact']"
                  >
                    Me interesa
                  </button></small
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/devEcomm.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title text-center"><b>Tienda en Línea</b></h3>
              <p class="card-text text-justify">
                Sabemos que cada negocio de comercio electrónico es único, por
                eso dependiendo del producto o servicio que se ofrezca
                integramos las funcionalidades esenciales para el desarrollo de
                su tienda en línea, sin generar funcionalidades innecesarias
                brindando un servicio personalizado e integral para su negocio.
              </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Inventario de productos
                </li>
                <li class="list-group-item">Carrito de compras</li>
                <li class="list-group-item">Registro de usuarios</li>
                <li class="list-group-item">Estadísticas detalladas</li>
                <li class="list-group-item">Pagos con tarjeta/débito</li>
                <li class="list-group-item">PayPal/OXXO</li>
                <li class="list-group-item">Pruebas A/B</li>
                <li class="list-group-item">1 año hospedaje y dominio</li>
                <li class="list-group-item">Certificado SSL</li>
                <li class="list-group-item">
                  Estándares de seguridad PCL y certificados SSL que encriptan
                  información del sitio haciéndolo seguro para sus compradores
                </li>
              </ul>
              <div class="card-footer">
                <small class="text-muted"
                  ><button
                    class="btn btn-block btn-primary"
                    placement="bottom"
                    ngbTooltip="Solicitar Cotización"
                    [routerLink]="['/contact']"
                  >
                    Me interesa
                  </button></small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/appDev.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title text-center">
                <b>Aplicaciones Móviles</b>
              </h3>
              <p class="card-text text-justify">
                Ofrecemos aplicaciones móviles cross-platform que funcionan
                nativamente en los principales sistemas operativos móviles IOS y
                Android.
              </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Aplicaciones nativas IOS y Android
                </li>
                <li class="list-group-item">
                  Aplicaciones multiplataforma con Xamarin
                </li>
                <li class="list-group-item">
                  Desarrollo de API
                </li>
                <li class="list-group-item">
                  Diseño funcional y amigable UI/UX
                </li>
                <li class="list-group-item">Realidad aumentada</li>
                <li class="list-group-item">Mejor rendimiento</li>
                <li class="list-group-item">Bases de datos escalables</li>
              </ul>
              <div class="card-footer">
                <small class="text-muted"
                  ><button
                    class="btn btn-block btn-primary"
                    placement="bottom"
                    ngbTooltip="Solicitar Cotización"
                    [routerLink]="['/contact']"
                  >
                    Me interesa
                  </button></small
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/softDev.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title text-center"><b>Software a Medida</b></h3>
              <p class="card-text text-justify">
                Creamos softwares gestores de información para brindar y
                facilitar acceso a la entrada y salida de datos para todo tipo
                de empresa e institución. Nuestro equipo trabaja con
                metodologías ágiles como Scrum para el desarrollo de tu
                proyecto.
              </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Sistemas de administración ERP (Enterprise Resource Planning)
                </li>
                <li class="list-group-item">Bases de datos (Mysql,sql)</li>
                <li class="list-group-item">
                  Sistemas E-Learning LMS(Learning Management System)
                </li>
                <li class="list-group-item">Integreación de Sistemas</li>
                <li class="list-group-item">Seguridad de software</li>
                <li class="list-group-item">Windows Forms</li>
                <li class="list-group-item">
                  Internet of things;Integramos hardware con software específico
                </li>
                <li class="list-group-item">
                  Diseño y desarrollo personalizado.
                </li>
              </ul>
              <div class="card-footer">
                <small class="text-muted"
                  ><button
                    class="btn btn-block btn-primary"
                    placement="bottom"
                    ngbTooltip="Solicitar Cotización"
                    [routerLink]="['/contact']"
                  >
                    Me interesa
                  </button></small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/mDigital.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title text-center">
                <b>Marketing y Comunicación Digital</b>
              </h3>
              <p class="card-text text-justify">
                Servicio de forma estratégica y congruente de acuerdo a su
                empresa. Nos encargamos del desarrollo de contenidos, difusión
                de contenidos: newsletter, email marketing, redes sociales, etc.
              </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Estrategia enfocada en su empresa
                </li>
                <li class="list-group-item">
                  Posicionamiento Orgánico con Optimización SEO
                </li>
                <li class="list-group-item">Manejo de Redes Sociales</li>
                <li class="list-group-item">Google Adwords</li>
                <li class="list-group-item">Flujo constante de visitantes.</li>
                <li class="list-group-item">Diseño gráfico</li>
                <li class="list-group-item">Imagen corporativa</li>
              </ul>
              <div class="card-footer">
                <small class="text-muted"
                  ><button
                    class="btn btn-block btn-primary"
                    placement="bottom"
                    ngbTooltip="Solicitar Cotización"
                    [routerLink]="['/contact']"
                  >
                    Me interesa
                  </button></small
                >
              </div>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/home2.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h3 class="card-title text-center">
                <b>Administrador de Contenidos (CMS)</b>
              </h3>
              <p class="card-text text-justify">
                Administre su contenido sin necesidad de terceros, solución
                amigable para la gestión de su página web. El uso del
                administrador de contenidos es intuitivo y fácil de utilizar,
                sin requerir habilidades de programación.
              </p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Diseño y desarrollo personalizado.
                </li>
                <li class="list-group-item">Gestión independiente.</li>
                <li class="list-group-item">
                  Fácil de usar para nuevos usuarios.
                </li>
                <li class="list-group-item">Plataformas CMS y Wordpress</li>
                <li class="list-group-item">E-Learning Moodle u otros.</li>
                <li class="list-group-item">
                  Plataforma escalable; flexibilidad para integrar nuevas
                  funciones.
                </li>
              </ul>
              <div class="card-footer">
                <small class="text-muted"
                  ><button
                    class="btn btn-block btn-primary"
                    placement="bottom"
                    ngbTooltip="Solicitar Cotización"
                    [routerLink]="['/contact']"
                  >
                    Me interesa
                  </button></small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </div>

  <div class="section section-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h2 class="title">
            Paquetes de diseño web a medida para su negocio.
          </h2>
          <br />
          <h5 class="description text-justify">
            Desarrollamos páginas web profesionales personalizadas, donde el
            usuario encuentre un fácil acceso a la información y servicios de su
            empresa. Nuestro objetivo es crear impacto y reflejar la
            personalidad de su empresa en toda la plataforma, dando soluciónes a
            medida de tecnología, usabilidad y diseño.
          </h5>
          <br />
        </div>

        <div class="col-lg-6 col-md-12 homeImg">
          <img
            src="../../../assets/Img/webRespo.jpg"
            class="img-responsive img-shadow img-rounded"
            alt="App 1"
          />
        </div>
      </div>
      <br />
      <h6>Encuentre el paquete a su medida</h6>

      <br />

      <div class="card-group">
        <div class="card text-center">
          <!--style="width: 18rem;"-->
          <div class="card-body">
            <h4 class="card-title">Paquete Emprendedor.</h4>
            <hr />
            <h2>$15,000 MXN</h2>
            <br />
            <p class="card-text">
              Diseño y desarrollo de sitio web <br />
              <b>5 secciones/páginas web</b>
            </p>
            <br />
            <ul class="list-group list-group-flush text-left">
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                Diseño web <b>Responsivo</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> Optimización
                <b>SEO</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                Optimización de <b>velocidad</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> 1 año de
                <b> Hospedaje web</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> 1 año de
                <b>Dominio ".com"</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> Certificado
                <b> Seguridad SSL</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                Administrador<b> CMS</b>
              </li>
              <li class="list-group-item disabled">
                <i class="fa fa-check-circle"></i>
                <b> 1 mes de soporte técnico</b>
              </li>
              <li class="list-group-item disabled">
                <i class="fa fa-check-circle"></i>
                <b> Pruebas A/B </b>
              </li>
            </ul>
            <br />
            <a [routerLink]="['/contact']" class="btn btn-outline-primary"
              >MAYOR INFORMACIÓN</a
            >
          </div>
        </div>

        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title">Paquete PYME.</h4>
            <hr />
            <h2>$17,500 MXN</h2>
            <br />

            <p class="card-text">
              Diseño y desarrollo de sitio web <br />
              <b>10 secciones/páginas web</b>
            </p>
            <br />
            <ul class="list-group list-group-flush text-left">
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                Diseño web <b>Responsivo</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> Optimización
                <b>SEO</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                Optimización de <b>velocidad</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> 1 año de
                <b> Hospedaje web</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> 1 año de
                <b>Dominio ".com"</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> Certificado
                <b> Seguridad SSL</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                Administrador<b> CMS</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                <b> 1 mes de soporte técnico</b>
              </li>
              <li class="list-group-item disabled">
                <i class="fa fa-check-circle"></i>
                <b> Pruebas A/B </b>
              </li>
            </ul>
            <br />
            <a [routerLink]="['/contact']" class="btn btn-primary"
              >MAYOR INFORMACIÓN</a
            >
          </div>
        </div>

        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title">Paquete Empresarial.</h4>
            <hr />
            <h2>$19,999 MXN</h2>
            <br />
            <p class="card-text">
              Diseño y desarrollo de sitio web <br />
              <b>15 secciones/páginas web</b>
            </p>
            <br />
            <ul class="list-group list-group-flush text-left">
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                Diseño web <b>Responsivo</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> Optimización
                <b>SEO</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                Optimización de <b>velocidad</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> 1 año de
                <b> Hospedaje web</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> 1 año de
                <b>Dominio ".com"</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i> Certificado
                <b>seguridad SSL</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                Administrador<b> CMS</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                <b> 3 meses de soporte técnico</b>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check-circle icon-success"></i>
                <b> Pruebas A/B </b>
              </li>
            </ul>
            <br />
            <a [routerLink]="['/contact']" class="btn btn-outline-primary"
              >MAYOR INFORMACIÓN</a
            >
            <!-- Enviar parametros
              <a [routerLink]="['/contact', 3]" class="btn btn-outline-primary"
              >MAYOR INFORMACIÓN</a
            > -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h5 class="title text-center">
            Si los paquetes de diseño no se acoplan a lo que necesita,
            contactenos y crearemos un proyecto a su medida.
          </h5>
          <div class="info text-center">
            <div class="icon icon-info">
              <i class="nc-icon nc-atom"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-contactanos></app-contactanos>
</div>
