<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('../../..//assets/Img/dev.jpg');"
  >
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img
            src="../../../assets/Img/angular2-logo.png"
            alt="Circle Image"
            class="img-circle img-no-padding img-responsive"
          />
        </div>
        <div class="name">
          <h1 class="title">Servicios<br /></h1>
          <h3 class="description">Convertimos sus ideas en realidad.</h3>
        </div>
      </div>
      <!--       <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas earum
            ea repudiandae, sit fugiat corporis nostrum odit autem vero laborum
            aliquam, voluptatibus labore ullam nesciunt, recusandae expedita
            blanditiis debitis quis.
          </p>
          <br />
        </div>
      </div> -->
      <br />
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/webDev.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Desarrollo Web</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/devEcomm.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Tienda en Linea</h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/appDev.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Aplicaciones móviles</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/softDev.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Software a Medida</h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card-deck">
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/mDigital.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Marketing y Comunicación Digital</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
          <div class="card">
            <img
              class="card-img-top"
              src="../../../assets/Img/home2.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Administrador de Contenidos (CMS)</h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </div>

  <div class="section section-gray ">
    <div class="container ">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h2 class="title">
            Paquetes de diseño web a medida para su negocio.
          </h2>
          <br />
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
            veritatis error magni quos ullam numquam rem laudantium, omnis
            asperiores impedit vel quia dolorem? Nulla cumque delectus error,
            porro ad deserunt.
          </p>
          <br />
        </div>

        <div class="col-lg-6 col-md-12 homeImg">
          <img
            src="../../../assets/Img/webRespo.jpg"
            class="img-responsive img-shadow img-rounded"
            alt="App 1"
          />
        </div>
      </div>
      <h6>Encuentre el paquete a su medida</h6>

      <br />

      <div class="row">
        <div class="card-group">
          <div class="card text-center">
            <!--style="width: 18rem;"-->
            <div class="card-body">
              <h4 class="card-title">Paquete Emprendedor.</h4>
              <hr />
              <h2>$15,000 MXN</h2>
              <br />
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <br />
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <br />
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Paquete PYME.</h4>
              <hr />
              <h2>$17,500 MXN</h2>
              <br />

              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <br />
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <br />
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Paquete Empresarial.</h4>
              <hr />
              <h2>$19,999 MXN</h2>
              <br />
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <br />
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
              <br />
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <h5 class="title text-center">
            Si los paquetes de diseño no se acopla a lo que necesita,
            contactenos y generaremos un proyecto a su medida.
          </h5>
          <div class="info text-center">
            <div class="icon icon-info">
              <i class="nc-icon nc-atom"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-contactanos></app-contactanos>
</div>
3
