<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('../../..//assets/Img/dev.jpg');"
  >
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img
            src="../../../assets/Img/angular2-logo.png"
            alt="Circle Image"
            class="img-circle img-no-padding img-responsive"
          />
        </div>
        <div class="name">
          <h4 class="title">Servicios<br /></h4>
          <h6 class="description">Siempre a tu servicio</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat
            perspiciatis ipsum fugit voluptates doloremque consequuntur
            similique eum nobis! Id iusto autem ab laudantium optio provident
            atque ducimus vitae quasi sint.
          </p>
          <br />
        </div>
      </div>
      <br />
    </div>
  </div>

  <div class="section section-gray ">
    <div class="container ">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h2 class="title">
            Aplicaciones Móviles.
          </h2>
          <br />
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
            veritatis error magni quos ullam numquam rem laudantium, omnis
            asperiores impedit vel quia dolorem? Nulla cumque delectus error,
            porro ad deserunt.
          </p>
          <br />
        </div>

        <div class="col-lg-6 col-md-12 homeImg">
          <img
            src="../../../assets/Img/phonesPhotos.jpg"
            class="img-responsive img-shadow img-rounded"
            alt="App 1"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="section section-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 homeImg">
          <img
            src="../../../assets/Img/team2.jpg"
            class="img-rounded img-responsive img-shadow"
            alt="App 1"
          />
        </div>
        <div class="col-lg-6 col-md-12">
          <h2 class="title">
            Software a Medida.
          </h2>
          <br />
          <p class="description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste
            voluptates quasi nemo laudantium eaque! Cum consectetur modi
            voluptates sequi odio corporis obcaecati, eos repellat asperiores,
            deleniti quibusdam voluptatem ipsam sed!
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
  <app-contactanos></app-contactanos>
</div>
