<div>
  <nav
    class="navbar navbar-expand-lg fixed-top navbar-transparent"
    color-on-scroll="300"
  >
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" routerLink="/home">
          <img
            src="../../../../assets/Img/Logos/seninStudio_logo_1.png"
            alt="Consultoria de Diseño y Desarrollo de Páginas Web, Apps Móviles y Software"
            width="8%"
            height="auto"
          />
          Sening Studio</a
        >
        <button
          class="navbar-toggler navbar-burger"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="sidebarToggle()"
        >
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              rel="tooltip"
              title="Síguenos en Facebook"
              data-placement="bottom"
              href="https://www.facebook.com/Sening-Studio-103307611352104/"
              target="_blank"
              (click)="sidebarClose()"
            >
              <i class="fa fa-facebook-square"></i>
              <p class="d-lg-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              rel="tooltip"
              title="Síguenos en Instagram"
              data-placement="bottom"
              href="#"
              target="_blank"
              (click)="sidebarClose()"
            >
              <i class="fa fa-instagram"></i>
              <p class="d-lg-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link"
              [routerLink]="['home']"
              (click)="sidebarClose()"
            >
              Home
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link"
              [routerLink]="['services']"
              (click)="sidebarClose()"
            >
              Services
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link"
              [routerLink]="['contact']"
              (click)="sidebarClose()"
              >Contact</a
            >
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a
              class="nav-link"
              [routerLink]="['about']"
              (click)="sidebarClose()"
              >About</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--   <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    *ngIf="!isHome()"
    color-on-scroll="500"
  >
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" routerLink="/home"> Sening Studio</a>
        <button
          class="navbar-toggler navbar-burger"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggler"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="sidebarToggle()"
        >
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              rel="tooltip"
              title="Like us on Facebook"
              data-placement="bottom"
              href="#"
              target="_blank"
            >
              <i class="fa fa-facebook-square"></i>
              <p class="d-lg-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              rel="tooltip"
              title="Follow us on Instagram"
              data-placement="bottom"
              href="#"
              target="_blank"
            >
              <i class="fa fa-instagram"></i>
              <p class="d-lg-none">Instagram</p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['home']">
              Home
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['contact']">Contact</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['about']">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
 -->
</div>
