/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat-Light;
  src: url(assets/fonts/Montserrat/Montserrat-Light.ttf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf) format("opentype");
}

/* * {
  font-family: "Montserrat-Light", "Helvetica", Arial, sans-serif;
}
 */
.main-container {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
}
div.container.main-container {
  padding: 0;
}

body {
  height: 100vh;
}
/* Home images */

.homeImg img {
  width: 100%;
  height: auto;
}
/*Animations*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/*Carousel*/
.picsum-img-wrapper img {
  height: auto !important;
  width: 100%;
}

ngb-carousel img {
  /* background-color: #b2afab; */
  background-color: white;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-caption {
  position: relative;
  top: 15%;
  font-weight: bolder;
  margin-right: 52%;
  margin-left: -12%;
}

ngb-carousel {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 999px;
  background-color: white;
  position: fixed;
  z-index: 0;
}

/*Pulsing Heart (footer)*/
.heart {
  color: #eb5e28;
  animation: heathing 1s ease infinite;
}
@keyframes heathing {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

/* navbar */
.nav-link {
  font-size: 1.2em !important;
}
.nav-link i {
  font-size: 1.2em !important;
}
.navbar-brand {
  font-size: 1.2em !important;
}
.navbar {
  color: white;
  height: 70px;
}

/*contactanos card*/
.card .card-register {
  width: 100%;
  background-color: black;
}

.form-group2 {
  padding-top: 0px;
  margin-top: -25px;
}

/*Clouds*/
.fog-low {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -35%;
  margin-bottom: -50px;
  width: 110%;
  opacity: 0.85;
}
.fog-low img {
  width: 100%;
}
.fog-low.right {
  margin-left: 30%;
  opacity: 1;
}
.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

/*Cards Services*/

.card-deck img {
  align-self: center;
  align-content: center;
  align-items: center;
}

.card .list-group-item {
  font-size: 1.2em;
}

.card-text {
  font-size: 1.2em;
}
/*
.card-deck .card {
  width: 500px;
  height: 600px;
}
 */

/*LOGOS CLIENTS CAROUSEL SLIDER - ABOUT */
.brands {
  width: 100%;
  margin: 0;
  padding-top: 90px;
}
.container {
  margin: 0;
  padding: 0;
}
.brands_slider_container {
  height: 130px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 97px;
  padding-right: 97px;
}

.brands_slider {
  height: 100%;
  margin-top: 50px;
}

.brands_item {
  height: 100%;
}

.brands_item img {
  max-width: 20%;
  height: auto;
}

.brands_nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.brands_nav i {
  color: #e5e5e5;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.brands_nav:hover i {
  color: #676767;
}

.brands_prev {
  left: 40px;
}

.brands_next {
  right: 40px;
}

/*RESPONSIVE */

/*iphone 5 / SE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .main {
    text-align: center;
  }
  ngb-carousel img {
    object-position: center center;
    object-fit: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .carousel-caption {
    position: relative;
    top: 6%;
    font-weight: bolder;
    margin-right: -10%;
    margin-left: -6%;
  }
  #carr1 {
    color: #9a9a9a;
  }
  #carr1 h2 {
    color: #333333;
  }
  .navbar {
    margin-top: -5%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .main {
    text-align: center;
  }
  ngb-carousel img {
    object-position: center center;
    object-fit: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  #carr1 {
    color: #333333;
  }
}
/**/

/*iphone 6 7 8, plus y x */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .main {
    text-align: center;
  }
  ngb-carousel img {
    object-position: center center;
    object-fit: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .carousel-caption {
    position: relative;
    top: 6%;
    font-weight: bolder;
    margin-right: -10%;
    margin-left: -6%;
    font-size: 1.2em;
  }
  #carr1 {
    color: #9a9a9a;
  }
  #carr1 h2 {
    color: #333333;
  }
  .navbar {
    margin-top: -5%;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .main {
    text-align: center;
  }
  ngb-carousel img {
    object-position: center center;
    object-fit: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .carousel-caption {
    position: relative;
    top: 6%;
    font-weight: bolder;
    margin-right: 30%;
    margin-left: -10%;
    font-size: 0.8em;
  }

  #carr1 {
    color: #333333;
  }
  .carousel-caption2 {
    margin-right: 0%;
  }
  .navbar {
    margin-top: -5%;
  }
}
/**/

/*ipad*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  ngb-carousel img {
    object-position: center center;
    object-fit: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .carousel-caption {
    position: relative;
    top: 5%;
    font-weight: bolder;
    margin-right: -10%;
    margin-left: -5%;
    font-size: 1.4em;
  }
  #carr1 h5 {
    color: #333333;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  ngb-carousel img {
    object-position: center center;
    object-fit: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .carousel-caption {
    position: relative;
    top: 5%;
    font-weight: bolder;
    margin-right: -10%;
    margin-left: -5%;
  }

  #carr1 {
    color: #333333;
  }
  .navbar {
    height: 120px;
  }
}
/**/

/*ipad pro*/
@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  ngb-carousel img {
    object-position: center center;
    object-fit: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .carousel-caption {
    position: relative;
    top: 6%;
    font-weight: bolder;
    margin-right: -10%;
    margin-left: -3%;
    font-size: 1.8em;
  }
  #carr1 h5 {
    color: #333333;
  }
}
@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
  ngb-carousel img {
    object-position: center center;
    object-fit: cover;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .carousel-caption2 {
    margin-right: 20%;
  }
  #carr1 h5 {
    color: #333333;
  }
}
/**/
