/* You can add global styles to this file, and also import other style files */
.main-container {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
}
div.container.main-container {
  padding: 0;
}

body {
  height: 100vh;
}
/* Home images */

.homeImg img {
  width: 100%;
  height: auto;
}
/*Animations*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/*Carousel*/
.picsum-img-wrapper img {
  height: auto !important;
  width: 100%;
}
ngb-carousel img {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

/*Pulsing Heart (footer)*/
.heart {
  color: #eb5e28;
  animation: heathing 1s ease infinite;
}
@keyframes heathing {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

/* navbar */
.nav-link {
  font-size: 1.2em !important;
}
.nav-link i {
  font-size: 1.2em !important;
}
.navbar-brand {
  font-size: 1.2em !important;
}
.navbar {
  color: white;
}

/*contactanos card*/
.card .card-register {
  width: 100%;
  background-color: black;
}

.form-group2 {
  padding-top: 0px;
  margin-top: -25px;
}

/*Clouds*/
.fog-low {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: -35%;
  margin-bottom: -50px;
  width: 110%;
  opacity: 0.85;
}
.fog-low img {
  width: 100%;
}
.fog-low.right {
  margin-left: 30%;
  opacity: 1;
}
.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
