<footer class="footer">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a routerLink="/services">Servicios</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          © {{ test | date: "yyyy" }}, made with
          <i class="fa fa-heart heart"></i> by Sening Studio
        </span>
      </div>
    </div>
  </div>
</footer>
